@import '../../scss/functions.scss';

.container {
	padding: 0 rem(34px);
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: rem(74px);
	background-color: #a1d13f;
	font-size: rem(18px);
	font-weight: bold;

	.item {
		display: flex;
		align-items: center;
		padding: rem(6px) rem(17px);
		color: #fff;
		height: rem(33px);
		border-radius: 5px;
		cursor: pointer;

		&.active {
			color: #000;
			background-color: #fff;
		}

		span {
			display: block;
			margin-right: rem(13px);
		}

		&:hover:not(:last-child) {
			color: #000;
			background-color: #fff;
		}
	}
}
