@import '../../scss/functions.scss';

.container {
	top: 0;
	left: 0;
	position: fixed;
	z-index: 1000;
	width: 100%;
	height: 100vh;
	background: rgba(0, 0, 0, 0.2);
	display: flex;
	justify-content: center;

	.formContainer {
		position: relative;
		margin-top: rem(183px);
		width: rem(435px);
		height: rem(510px);
		background-color: #fff;
		border-radius: rem(10px);
		padding: rem(38px) rem(38px) rem(60px);

		.closeBtn {
			position: absolute;
			padding: 0;
			right: rem(15px);
			top: rem(15px);
			background: none;
			border: none;
			outline: none;
			display: flex;
			align-items: center;
			cursor: pointer;

			&:hover,
			&:active {
				path {
					fill: #9ccb3b;
				}
			}
		}

		.title {
			display: block;
			font-weight: 600;
			font-size: rem(20px);
			margin-bottom: rem(40px);
		}

		.label {
			display: block;
			font-size: rem(16px);
			color: #979797;
			margin-bottom: rem(20px);
		}

		.textInput {
			width: 100%;
			height: rem(40px);
			border-radius: rem(10px);
			margin-bottom: rem(20px);
			padding-left: rem(14px);
			font-size: rem(18px);
			font-family: 'Proxima Nova';
		}

		.agreement {
			display: flex;
			align-items: flex-start;
			margin-bottom: rem(20px);

			.agreementText {
				display: block;
				width: rem(333px);
				color: #979797;
				font-size: rem(16px);
				margin-left: rem(16px);

				a {
					color: #9ccb3b;
					text-decoration: none;
				}
			}
		}

		.loginBtn {
			width: 100%;
			outline: none;
			background: #9ccb3b;
			border: none;
			border-radius: rem(10px);
			color: #fff;
			font-family: 'Proxima Nova';
			font-size: rem(20px);
			font-weight: 600;
			text-align: center;
			height: rem(50px);
			margin-bottom: rem(34px);
			cursor: pointer;
		}

		.signUpText {
			display: block;
			text-align: center;
			font-size: rem(18px);

			b {
				font-weight: 600;
			}
		}
	}
}
